body {
    font-family: Arial;
    background: linear-gradient(to right, #36d1dc, #5b86e5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}
button {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}